.App {
  text-align: center;
  align-items: center;
  align-content: center;
  
}
.BabylonContainer{
  align-content: center;
  align-items: center;
  width: 100%;
  
}
.Babylon{
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1px;
  outline: none;
}
canvas{
  outline: none;
}