.App {
  text-align: center;
  align-items: center;
  align-content: center;
}
.BabylonContainer{
  align-content: center;
  align-items: center;
  width: 100%;
  
}
.Babylon{

  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px
}