.App {
  text-align: center;
  align-items: center;
  align-content: center;
  
}
.BabylonContainer{
  align-content: center;
  align-items: center;
  width: 100%;
  
}
.Babylon{

  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  outline: none;
}
canvas{
  outline: none;
}